@import "../utilities/mixins";

.blog__main {
    
    .container__blog {
        background-color: nth($paleta, 2);
        width: 100vw;
        overflow-x: hidden;

        .articulo__blog {
            height: 90vh;
            width: 100vw;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: "img" "desc";
            justify-items: center;
            align-items: center;
            border-bottom: nth($paleta, 4) 1px solid;
            padding: 5vh 0 20vh 0;

            img {
                grid-area: img;
                max-width: 90vw;
                max-height: 50vh;
            }
            
            .articulo__blog--descripcion {
                grid-area: desc;
                display: flex;
                margin: 20px 10px 0;
                padding: 10px 10px;
                flex-flow: column nowrap;
                background-color: nth($paleta, 1);
                border-radius: 20px;

                .blog__h2 {
                    background-color: nth($paleta, 2);
                    border-radius: 20px;
                    padding: 5px 5px 15px;
                    
                    h2 {
                        @include desc_blog(Montserrat, 700, 1.5rem, 0);
                    }
                }
                p {
                    @include desc_blog(Merriweather, 100, .9rem, 5vw);   
                    max-width: 800px;
                }
            }
        }
    }
}