.error404__main {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Montserrat, serif;
        font-size: 10rem;
        background-color: nth($paleta, 2);
        border-radius: 100px;
        padding: 1%;

        @include media__2disp(sm) {
            font-size: 4rem;
        }
    }
    h2 {
        font-family: Montserrat, serif;
        font-weight: 700;
        text-align: center;
    }
    a {
        background-color: nth($paleta, 2);
        padding: 2%;
        border-radius: 20px;
        margin: 5% 0;
    }

}