@import "../utilities/variables";

/* Mixins de MediaQuery */

@mixin media__2disp($media) { 
    @if $media == sm {
        @media (max-width: $breakpoint-sm) { @content; }
    }
    @else if $media == md {
        @media (min-width: $breakpoint-sm) { @content; }
    }
}

@mixin desc_blog($f_family, $f_weight, $f_size, $margin) {
  font-family: $f_family, serif;
  font-size: $f_size;
  font-weight: $f_weight;
  margin: 2vh $margin 0;
  text-align: center;
}

/* Extend de titulares */
%fuente_m {
  font-family: nth($fuente, 1), serif;
}

%fuente_general {
  @extend %fuente_m;
  color: nth($paleta, 1);
}


@mixin info__bio($font){
  font-family: nth($fuente, $font);
  padding: 5vh 0;
  margin: 0;
  text-align: center;
  color: nth($paleta, 1);
}

/* Menu lateral */
%nav_li {
  display: block;
  width: 150%;
  font-family: Montserrat, serif;
  font-size: 2rem;
  margin: 0;
  padding: 30px 10%;
  color: nth($paleta, 1);
  transition: transform 1s ease-in;
}

%nav_li--hover {
  background-color: darken(nth($paleta, 3), 20%);
  transform: translateX(20px);
  transition: transform 2s ease;
}


/* Mixin contacto */
 %label_form {
   @extend %fuente_general;
   font-size: 1rem;
 }