@import "../utilities/variables";
@import "../utilities/mixins";

header {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 10vh;
    background: nth($paleta, 1);
    z-index: 1000;

    h1 {
        order: 2;
        margin: 0 1vw;
        font-family: nth($fuente, 1);
        font-weight: 700;
    }

    #btn__nav {
        display: none;
    }

    nav {
        background-color: nth($paleta, 3);
    }
    .navLateral {
        background-color: nth($paleta, 3);
        overflow: hidden;

        .navLateral__body {
            ul {
                padding: 0;

                li {
                    @extend %nav_li;

                    &:hover {
                         @extend %nav_li--hover;
                    }
                }
            }
            label {
                @extend %nav_li;

                &:hover {
                    @extend %nav_li--hover;
               }
            }
            input {
                display: none;

                &:checked {
                    ~ .submenu__items {
                        display: block;
                    }
                }
            }
            .submenu__items {
                display: none;
                background-color: nth($paleta, 4);
            }
        }

        footer {
            position: absolute;
            bottom: 30px;
            right: 20px;

            img {
                margin: 0 10px;
                width: 30px;
                transition: transform 1s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(2);
                    transition: transform 1s ease;
                }
            }
        }
    }
}